/* ---------- CSS Style Guide ----------  */
/* Where possible Circular follows the functional, or "atomic", styling paradigm by taking single styles, giving them names, and them combingin them together to achieve desired style */
/* Read more here: https://critter.blog/2018/06/08/in-defense-of-functional-css/ */
/* Of course, it's sometimes convenient in specific scenarios to use a single class name to style, especially if that style has not had markup created for it */
/* Both are possible: https://css-tricks.com/why-cant-we-use-functional-css-and-regular-css-at-the-same-time/ */
/* Classes that have been given attributes and created for a specific element are at the bottom of this page */
/* Consider checking them out and seeing it we can re-write them using functional styling */

/* ---------- CSS Naming Guide ----------  */
/* Follow pre-existing patterns that exist */
/* For Heights and Widths in particular: */
/* Use only pixels and percentages */
/* Anything less than 1 should be indicated using a - between the type of width and the number itself */
/* For examples vh-80 would indicate a height of 80% of the viewport height, and h-80 wouldindicate a height of 80% of the available space in the parent*/
/* This rule should also apply to REMS, which should be used for Margins and Font sizes */
/* A font size of f-5 would represent a font size of .5rem */
/* Anything using pixels should be named with a px at the end  */
/* For example: mw500px represents a minimum-width of 500px */
/* Because the project is so new, you can contribute naming conventions however you like */
/* Just be sure to search the page to make sure that there are no pre-existing conventions */
/* For example I use mw to create the min-width styles, but then realized max-with would also be mw */
/* I then decided to do maxw */

@font-face {
  font-family: 'GroteskRegular';
  src: url('./assets/fonts/grotesk_be_regular.woff') format('woff');
}

html {
  font-size: 100%
}

body {
  margin: 0;
  background-color: #0B0A21;
  font-family: 'GroteskRegular';
  color: #48EB97;
}

#nav {
  font-size: 3em;
}

@media screen and (max-width: 980px){
  #app{
    width: 98vw;
    height: 110vh;
    margin: 2vw;
    /* border-style: dashed; */
  }
}

@media screen and (min-width: 980px){
  #app{
    width: 980px;
    margin: auto;
    padding-top: 10px;
    /* border-style: dashed; */
  }
}

/* Grid */


.gutter {
  display: grid;
  grid-template-columns: 95% 5%;
}

.g-3 {
  display :grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: space-between;
}

/* Flexbox */

.flex-row {
  display: flex;
}

.no-wrap{
  flex-wrap: nowrap;
}


.flex-wrap {
  flex-wrap: wrap
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.grow-1{
  flex-grow: 1;
}

.align-center{
  align-items: center;
}

/* Float */

.fr {
  float: right;
}

/* Border */

.bor-d{
  border-style: dashed;
  border-width: thin;
}

/* Displays */
.bl {
  display: block
}

.ilb {
  display: inline-block;
}

.fr {
  float: right;
}
/* Text Styling */

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.ow {
  overflow-wrap: normal;
}

.dn {
  display: none;
}


/* Font & Colors */

.f-red {
  color: #E7040F;
}

.f1-25{
  font-size: 1.25rem;
}

.f1-3 {
  font-size: 1.3rem;
}

.f1-5{
  font-size: 1.5rem;
}

/* Overflow */

.scroll {
  white-space: nowrap;
  overflow-x: scroll;
}

/* Margins, Padding, Space, Spacing*/

.ml1 {
  margin-left: 1rem;
}

.ml2 {
  margin-left: 2rem;
}
.mt1 {
  margin-top: 1rem;
}

.mt-5{
  margin-top: .5rem;
}
.mb-5{
  margin-bottom: .5rem;
}
.mb1 {
  margin-bottom: 1rem;
}
.mb2 {
  margin-bottom: 2rem;
}

.mt2 {
  margin-top: 2rem;
}

.mr1 {
  margin-right: 1rem;
}

.pt1{
  padding-top: 1rem;
}

.pb1{
  padding-bottom: 1rem;
}

.pb-5{
  padding-bottom: .5rem;
}

.pl-5{
  padding-left: .5rem;
}

.pl1{
  padding-left: 1rem;
}

/* Widths */

.w-a{
  width: auto;
}

.w-3 {
  width: 3%;
}

.w-5 {
  width: 5%
}

.w-15{
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-33{
  width: 33%;
}

.w-50 {
  width: 65%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%
}

.w-95 {
  width: 95%;
}

.w-100 {
  width: 100%;
}

.w-120 {
  width: 120%;
}

.w175{
  width: 175px;
}

.w200{
  width: 200px
}

.w250{
  width: 250px
}

.w300{
  width: 300px
}

.mw325{
  min-width: 325px
}

.mw500 {
  min-width: 500px
}

.mw300{
  min-width: 300px
}

.mw275{
  min-width: 275px;
}

.mw250{
  min-width: 250px
}

.mw225{
  min-width: 225px;
}

.mw200{
  min-width: 200px
}

.mw150{
  min-width: 150px
}

.maxw300{
  max-width: 300px
}

/* Heights */

.vh-5 {
  height: 5%;
}

.vh-30 {
  height: 30%;
}

.vh-40 {
  height: 40%;
}

.h-100 {
  height: 100%
}

/* --------------- Custom Input Styling ---------------------- */

/* Inputs, Textareas, Selects, Labels, Etc. */

::placeholder {
  color: #48EB97;
  font-size: 1.5rem;
}

input[type="submit"]:disabled {
  cursor: not-allowed;
  color: rgba(225, 87, 75, 1)
}

input, textarea, select {
  background-color: #0B0A21;
  border: none;
  outline: none;
  color: #48EB97;
  font-family: 'GroteskRegular';
  background-color: rgba(72, 235, 151, 0.225)
}

input {
  font-size: 1.5rem;
}

textarea {
  font-size: 1.25rem;
  resize: none;
  white-space: pre-wrap;
}

select {
  font-size: 1.5rem;
  margin: 0px .5rem 0px 0px;
}

label {
  font-size: 1.5rem;
  text-transform: uppercase;
}

input[type="submit"]{
  cursor: pointer;
}

.muted-form-bg{
  background-color: rgba(72, 235, 151, 0.225)
}

.transp-bg{
  background-color: rgba(0, 0, 0, 0)
}

/* Custom Inputs */

.checkbox-gutter {
  padding-right: 35px;
}

.checkbox-label {
  padding-left: 35px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-custom {
  position: absolute;
  top: 4px;
  left: 4px;
  height: 15px;
  width: 15px;
  border: 2px solid #48EB97;
  background: transparent;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-custom:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-label input:checked ~ .checkbox-custom:after {
  display: block;
}

.checkbox-label .checkbox-custom:after {
  left: 5px;
  top: 1px;
  width: 3px;
  height: 8px;
  border: solid #48EB97;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Errors */

.input-limit{
  color: rgba(225, 87, 75, .9)
}

.field-with-errors {
  background-color: rgba(225, 87, 75, .75)
}

/* -------------- Custom Component Styling --------------------*/

/* Tags */

.tag {
  display: ilb;
  background-color: #0B0A21;
  margin: 0px 2px;
  border-radius: 7px;
  padding: 2px 8px;
  font-size: 1rem
}


/* CSS that needs to be broken down into chunks and re-written in the app */

a{
  color: #48EB97
}

#location-form{
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#message-display{
  text-align:justify;
  padding-top: 5rem;
  font-size: 2rem;
}

#main-logo {
  padding-top: 1%;
}

#main-logo:hover{
  cursor: pointer;
}

#contribute{
  float: right;
}

#contribute:hover{
  cursor: pointer;
}

.event-description{
  white-space: pre-wrap;
}

.event-list-name {
  font-size: 1.25rem;
}

.event-list-location{
  float: right;
}

.event-list-categories {
    float: right;
}

.event-list-date {
  text-align: center;
  background-color: rgba(72, 235, 151, 1);
  color: #0B0A21;
  margin: 2% 0%;
  font-size: 1.75rem;
}

.banner{
  text-align: center;
  color: #0B0A21;
  background-color: rgba(72, 235, 151, 1);
  font-size: 1rem;
}


.event-large{
  border: 1px solid #48EB97;
  padding: 10px;
  margin-bottom: 10px;
}

.event-large-time{
  float: right;
  margin-left: 5px;
  padding: 5px;
  font-size: 1.33rem;
  border-radius: 5px;
}

.event-large-category{
  margin-right: 5px;
  padding: 5px;
  font-size: .85rem;
  background-color: rgba(72, 235, 151, 0.225)
}

.event-large-tags{
    float: right;
}

.event-large-tag{
  margin-right: 5px;
  padding: 2px;
  font-size: .85rem;
}

.event-large-name{
  font-size: 1.33rem;
}
